# This file contains the key of any secret defined in the .env file.

PORT=
MONGO_URI=

CLOUD_NAME=
CLOUD_SECRET_KEY=
CLOUD_API_KEY

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

JWT_SECRET_KEY=

EMAIL_USER=
EMAIL_PASSWORD=